.Flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between cards */
}
.ml-2
    {
        margin-left: 8px;
    }
.flex_box {
    width: calc(25% - 12px);/* Default to full width on mobile */
}
@media (max-width: 768px) {
    .flex_box {
      width: calc(50% - 8px); /* 2 cards per row, with gap */
    }
  }
  
  /* For laptops and up (>=1024px): 4 cards per row */
  @media (max-width: 500px) {
    .flex_box {
      width: 100%; /* 4 cards per row, with gap */
    }
    .pb__10{
        padding-bottom: 20px !important;
    }
  }
.p14px{
    padding-bottom: 14px;
}

@media (max-width: 600px) {
    .mobile_width {
        width: 100% !important;
        margin-top: 16px !important;
        flex-direction: column !important;
        align-items: stretch !important;
        gap: 12px !important;
    }
    
    .mobile_width select {
        width: 100% !important;
    }
}